{% extends "layout.html" %}
{% block content %}
{% if session.username %}
<style>
    table, th, td {
      border:1px solid black;
      padding: 15px
    }
    </style>
<div class="container">
    <div class="row">
      <div class="col-8">
        <h2>My drinks</h2> <br>
        {% if user_drinks[0].drink_name %}
        <table>
            <thead>
              <tr>
                <th colspan="1">Drink</th>
                <th colspan="1">Date</th>
                <th colspan="1">Time</th>
              </tr>
            </thead>
            <tbody>
            {% for drink in user_drinks %}
              <tr>
                <td>{{ drink.drink_name }}</td>
                <td>{{ drink.drink_time.strftime("%Y-%m-%d") }}</td>
                <td>{{drink.drink_time.strftime("%H:%M")}}</td>
              </tr>
            {% endfor %}
            </tbody>
        </table>
        {% else %}
        No drinks
        {% endif %}
      </div>
      <div class="col-4">
        <h2>Add a drink</h2> <br>
        <form action="/add_drink" method="POST">
            Choose a drink:
            <select name="drink">
              <option value="Beer 4.7%, 0.33l" selected> Beer 4.7%, 0.33l
              <option value="Beer 5.2%, 0.33l"> Beer 5.2%, 0.33l
              <option value="Beer 4.7%, 0.5l"> Beer 4.7%, 0.5l
              <option value="Beer 5.2%, 0.5l"> Beer 5.2%, 0.5l
              <option value="Wine 12%, 12cl"> Wine 12%, 12cl
              <option value="Wine 12%, 16cl"> Wine 12%, 16cl
              <option value="Wine 12%, 24cl"> Wine 12%, 24cl
              <option value="Liquor 38%, 4cl"> Liquor 38%, 4cl
              <option value="Liquor 38%, 2cl"> Liquor 38%, 2cl
              <option value="Liquor 40%, 4cl"> Liquor 40%, 4cl
              <option value="Liquor 40%, 2cl"> Liquor 40%, 2cl
              <option value="Desi 38%"> Desi 38%
            </select> <br>
            <br>
            Date and time: <br>
            <input type="datetime-local" name="drink_time"> <br> 
            <br>
            <input type="submit" value="Submit">
            </form>
            <br><br><br>
            <h2>Summary of drinks</h2> <br>
            {% if drinks_summary %}
            <table>
              <thead>
                <tr>
                  <th colspan="1">Drink type</th>
                  <th colspan="1">Count</th>
                </tr>
              </thead>
              <tbody>
              {% for drink in drinks_summary %}
                <tr>
                  <td>{{ drink[1] }}</td>
                  <td>{{ drink[0] }}</td>
                </tr>
              {% endfor %}
              </tbody>
            </table>
            {% else %}
            No drinks
            {% endif %}
      </div>
    </div>
{% else %}
<h2>Login</h2>
<form action="/login" method="POST">
<p>Username:<br>
<input type="text" name="username"></p>
<p>Password:<br>
<input type="password" name="password"></p>
<input type="submit" value="Login"> 
</form>
<a href="/new_account">Create an account</a>
{% endif %}
<br>
{% endblock %}