{% extends "layout.html" %}
{% block content %}
<h3>{{ session.username }}'s profile</h3>

<p>Sex: {{ user_info.sex }}</p>

<p>Weight: {{user_info.user_weight}} kg</p>

<p>Height: {{user_info.user_height}} cm</p>

<p>Age: {{user_info.user_age}} years</p>

<form action="/edit_profile" method="POST">
<p>Sex: <br>
<input type="radio" name="sex" value="male" checked> Male
<input type="radio" name="sex" value="female"> Female</p>
<p>Weight (kg): 
<input type="number" name="weight" size="5" min="20" max="500"></p>
<p>Height (cm): 
<input type="number" name="height" size="5" min=80 max="300"></p>
<p>Age (years): 
<input type="number" name="age" size="5" min="18" max="130"></p>
<input type="submit" value="Submit"> 
</form>
<br>
{% endblock %}