<p>Create a new room</p>
<form action="/new_room" method="POST">
<p>Room name:<br>
<input type="text" name="new_room"></p>
<input type="submit" value="Create room"> <br>
</form> <br>
<p>Join a room</p>
<form action="/join_room" method="POST">
<p>Room name:<br>
<input type="text" name="join_room"></p>
<input type="submit" value="Join room"> <br>
</form> <br>
<p>My rooms:</p>
{% for room in my_rooms %}
<li><a href="/room/{{ room.room_id }}">{{room.room_name}}</a> <br>
{% endfor %}
</li> <br>
<a href="/">Return to front page</a> <br>
{% extends "flash.html" %}